.display-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2.5rem;

    h2 {
        color: white;
    }


    .strike {
        background-color: black;
        height: 10rem;
        width: 10rem;
    }

    .ball {
        background-color: black;
        height: 10rem;
        width: 10rem;
    }
}