.App {
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
  background-color: dimgray;
  margin-top: 3rem;
  border-radius: 25px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}