.App {
  max-width:800px;
  width:100%;
  margin:0px auto;
  padding-bottom:30px;
  background-color:rgba(162, 186, 253, 0.363);
  border: 4px solid rgba(38, 84, 209, 0.808);
  border-radius: 4px;
}

